<link rel='stylesheet' href='{{ 'component-pagination.css' | asset_url }}'>
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>

{% paginate collections['collection2'].products by 8 %}
  <div class='container flex flex-col gap-5 mx-4 sm:m-auto'>
    <h2 class='text-4xl font-medium text-center'>
      {{ section.settings.heading }}
    </h2>

    <ul class='container grid grid-flow-row grid-cols-2 gap-6 m-auto my-10 sm:grid-cols-4 sm:grid-rows-2'>
      {% for product in collections['collection2'].products %}
        <li class='grid__item'>
          {%
            render 'product-card',
            card_product: product,
          %}
        </li>
      {% endfor %}
    </ul>

    <div class='flex items-center justify-center h-20 gap-5 p-4'>
      {{ paginate | default_pagination }}
    </div>
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "featured-collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Título da Seção",
      "default": "Coleção em Destaque"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Categoria"
    }
  ]
}
{% endschema %}
